





.rem-button{
    background: linear-gradient(180deg, rgb(248, 185, 18), rgb(244, 219, 59));
    color: rgba(0, 0, 0, 0.78);
    transition: all 0.2s ease;
}
.rem-button:hover{
    background: linear-gradient(180deg, rgb(244, 219, 59), rgb(244, 219, 59));
    transform: scale(1.05);


}

